
.ticklist {
    -fx-pref-width: 150px;
    -fx-padding: 0px;
    -fx-background-color: derive(-fx-accent, 140%);
    -fx-alignment: center;

}

.ticklist .title {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-padding: 4;
}

.ticklist .list-view {
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;

}

.ticklist .list-cell {
    -fx-background-color: white;
}

.ticklist .list-cell:filled{
    -fx-border-width: 0;
}

.list-cell:selected {
    -fx-background-color: transparent;
    -fx-faint-focus-colour: transparent
}

.ticklist .item{
    -fx-border-color: black;
    -fx-border-width: 0.5;
    -fx-border-radius: 5;
}

.ticklist .box{
    -fx-border-width: 0;
    -fx-background-color: transparent;
}
